:root {
    --selected: #C8C8DD;
}

#search {
    background-color: white;
    border-radius: 3rem;
    height: 5rem;
    width: 5rem;
    margin-top: 3vh;
    box-shadow: 5px 5px 10px #AA6611;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    transition: all 1s;
}

#search.searchbar-visible {
    width: clamp(300px, 400px, 40%);
    background-color: var(--selected);
}

.search-button {
    background-color: transparent;
    margin: 0 1rem;
    padding: 0;
    display: flex;
    align-items: center;
    border-radius: 2rem;
}

#search input {
    margin: 0 2rem 0 0;
    width: 70%;
    height: 2rem;
    border-radius: 2rem;
    border:0;
    background-color: white;
    padding: .5rem 0;
}

#search.searchbar-visible input:placeholder-shown {
    padding:.5rem 2rem;
}

#search input::placeholder {
    color: gray;
}
